<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Joc de daus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../style.css" />
  </head>
  <body class="bg-light">
    <div class="container">
      <h1 class="my-4 text-center">Joc de daus</h1>
      <div class="d-flex justify-content-center">
        <div class="card text-center">
          <div class="card-body">
            <form id="loginForm">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Usuari">
                <label for="floatingInput">Usuari</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contrasenya">
                <label for="floatingPassword">Contrasenya</label>
              </div>
              <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" id="hideUsernameSwitch">
                <label class="form-check-label" for="hideUsernameSwitch">Ocultar el meu nom d'usuari</label>
              </div>
              <a href="#" class="btn btn-primary mt-3"><i class="bi bi-person-check me-3"></i>Registrar-me</a>
            </form>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-link">Iniciar sessió</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../index.js"></script>
  </body>
</html>